@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.golos-text-light {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.golos-text-semi-bold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.golos-text-bold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.golos-text-extra-bold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}